/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
}

:root {
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    font-size: 18px;

}
/* Start global  */
h3 {
    color: var(--black);
    font-weight: bold;
    font-size: 45px;
}
p{
    color:var(--light-color);
    padding: 10px 0;
    line-height: 1.7;
}
.container {
    padding: 50px 30px;
}
.heading {
    text-align: center;
}
.heading  h3 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: var(--green);
}
.heading  h1 {
    color: var(--black);
}
/* .heading h1::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--green);
} */
/* End global  */

/* Start header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    z-index: 1000;
    border-radius: 0px 0px 25px 25px;
}
header .logo {
    font-size: 28px;
    color: var(--black);
    font-weight: bold;
}
header .logo i {
    color: var(--green);
}

header .navbar a {
    padding: 5px 10px;
    font-size: 15px;
    color: var(--light-color);
    text-transform: uppercase;
    border-radius: 7px;
}
header .navbar a.active,
header .navbar a:hover {
    background-color: var(--green);
    color: white;
}

header .icon i,
header .icon a {
    cursor: pointer;
    margin-left: 10px;
    height:2.5rem;
    line-height: 2.5rem;
    width:2.5rem;
    text-align: center;
    font-size: 18px;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}
header .icon i:hover,
header .icon a:hover {
    background: var(--green);
    color: white;
    transform: rotate(360deg);
}

header .icon #menu-bars {
    display: none;
}
/* End Header */

/* Start search */


#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1004;
}
#search-form.active {
    top: 0;
}
#search-box {
    padding: 10px;
    width: 400px;
    background: transparent;
    color: var(--green);
    font-size: 18px;
    border-bottom: 2PX solid white;

}
#search-box::placeholder {
    color: white;
}
#search-form .fas {
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--green);
    
}
#search-form .fas:hover {
    color: var(--green); 
    background-color: white;
}
#search-form #close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    line-height: 20px;
}

/* End Search */

/* Start login form */
#login-form {
    position: fixed;
    top: -110%;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}
#login-form .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #eee; 
    padding: 20px; 
    border-radius: 5px;  
}
#login-form .content h3 {
    font-size: 22px;
}
#login-form .content .btn {
padding: 20px 0;
}
#login-form .content a:nth-child(1) {
    background-color: #3C589C;
    width: 450px;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

#login-form .content a:nth-child(2) {
    background-color: #DF4B3B;
    width: 50%;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    width: 350px;
}
#login-form .content input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
#login-form .content input:focus {
    border: 2px solid var(--green);
}
#login-form .content button {
    background-color: #28A745;
    width: 100%;
    padding: 10px;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}
#login-form .content .forget{
    font-size: 14px;
    color: var(--green);
    margin: 10px;
    display:inline-block;
    width: 90%;
    float: left;

}
#login-form .content .forget:hover {
    text-decoration: underline;
}
#login-form #close-form {
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--green);
    
}
#login-form #close-form:hover {
    color: var(--green); 
    background-color: white;
}
#login-form #close-form {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    line-height: 20px;
}
#login-form.active {
    top: 0%;
}
/* End login form */

/* Start checkout */
#checkout {
    position: fixed;
    top: 100px;
    right: 35px;
    width: 250px;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    z-index: 100;
    opacity: 0%;

}
#checkout::before {
    content: "";
    position: absolute;
    top: -17px;
    right: 40px;
    border: 15px solid #eee;
    transform: rotate(45deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}
#checkout.active {
    opacity: 100;
}
#checkout .broduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0,0,0,.2);
}
#checkout .broduct img {
    width: 70px;
    height: 70px;
}
#checkout .broduct h5 {
    color: var(--green) !important;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--black);
}
#checkout .broduct p {
    font-size: 16px;
}
#checkout .broduct .far {
    color: #777;
    cursor: pointer;
}
#checkout .broduct .far:hover {
    color: #DF4B3B;
}
#checkout h3 {
    font-size: 22px;
}
#checkout a {
    color: var(--black);
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: var(--black);
    color: white;
}
#checkout a:hover {
    border: 2px solid var(--black);
    background: transparent;
    color: var(--black);
}
#checkout #clossed {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#checkout #clossed:hover {
    color: #DF4B3B;
}
/* End checkout */

/* Start Home */
.home {
    padding: 100px 50px;
}
.home .home-slider .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.home .home-slide .wrapper .slide {
    padding: 100px;
}
.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 20px;
}
.home .home-slider .slide .content a {
    margin-top: 30px;
    padding: 5px 15px;
    background-color: var(--black);
    color: white;
    border-radius: 20px 0 20px 0;
}
.home .home-slider .slide .content a:hover {
    color: var(--green);
    letter-spacing: .5px;
}
.home .home-slider .slide .image img {
    width: 100%;
}
.swiper-pagination-bullet-active{
    background:var(--green);
}
/* End Home */

#dishes {
    background-color: #eee;
   padding:50px;
}
#dishes .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
#dishes .container .box {
    position: relative;
    padding: 15px;
    width: 300px;
    min-height: 400px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border: 2px solid rgba(0,0,0,.2);
}
#dishes .container .box .fa-heart,
#dishes .container .box .fa-eye {
    position: absolute;
    top: 10px;
    width: 2rem;
    height: 2rem;
    color: var(--green);
    background-color: #eee;
    border-radius: 50%;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dishes .container .box .fa-eye {
    right: 20px;
}
#dishes .container .box .fa-heart:hover,
#dishes .container .box .fa-eye:hover{
    transform: rotate(360deg);
    background: var(--green);
    color: white;
} 
#dishes .container .box img {
    width: 100%;
    height: 230px;
    margin-top: 20px;
}
#dishes .container .box h3 {
    font-size: 18px;
    margin-top: 20px;
}
#dishes .container .box .stars {
    color: #FFC312;
}
#dishes .container .box .stars i:hover {
    color: var(--black);
}
#dishes .container .box span {
    color: var(--green);
    margin-right: 10px;
    display: inline-block;
}
#dishes .container .box .btn {
    float: right;
    padding: 5px;
    font-size: 14px;
    background-color: var(--black);
    color: white;
    border-radius: 20px 0 20px 0;
}
#dishes .container .box .btn:hover {
    color: var(--green);
}
/* End dishes */

/* Start about-us */
.about-us {
    padding: 100px;
}
.about-us .container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-us .container .row .image {
    flex-basis: 50%;
}
.about-us .container .row .image img{
    width: 100%;
}
.about-us .container .row .content {
    flex-basis: 45%;
}
.about-us .container .row .content .icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.about-us .container .row .content .icons-container .icons {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
}
.about-us .container .row .content .icons-container .icons i {
    color: var(--green);
}
.about-us .container .row .content .icons-container .icons span {
    color: var(--light-color);
    letter-spacing: 0.5px;
}
.about-us .content a {
    margin-top: 30px;
    display: block;
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--black);
    color: white;
    border-radius: 20px 0 20px 0;
}
.about-us .content a:hover {
    color: var(--green);
    letter-spacing: .5px;
}
/* End about-us */

/* start menu */
.menu {
    padding: 100px;
    background-color: #eee;
}
.menu .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.menu .container .box {
    flex-basis: 30%;
    padding: 15px;
    background: white;
    border: 2px solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
}
.menu .container .box .image {
    position: relative;
    margin-bottom: 20px;
}
.menu .container .box .image img {
    width: 100%;
}
.menu .container .box .image .fas {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 2rem;
    height: 2rem;
    color: var(--green);
    background-color: #eee;
    border-radius: 50%;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .container .box .image .fas:hover {
    background-color: var(--green);
    color: white;
}
.menu .container .box .content .stars {
    color: var(--green);
}
.menu .container .box .content h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.menu .container .box .content a {
    margin-top: 5px;
    padding: 20px;
    display: inline-block;
    width: fit-content;
    padding: 5px;
    background-color: var(--black);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.menu .container .box .content a:hover {
    color: var(--green);
    letter-spacing: .5px;
}
.menu .container .box .content span {
    color: var(--green);
    font-size: 20px;
    font-weight: bold;
}
/* End menu */

/* Start review */

.review {
    padding-top: 50px;
    padding-bottom: 50px;
}

.review .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
.review .container .slide {
    position: relative;
    flex-basis: clac(90% / 4);
    background-color: #eee;
    padding: 20px;
}
.review .container .slide .fa-quote-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: var(--black);
    opacity: 0.5;
}
.review .container .slide .user {
    display: flex;
    align-items: center;
}

.review .container .slide .user img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.review .container .slide .user .user-info h3 {
    font-size: 18px;
}
.review .container .slide .user .user-info .stars {
    color: var(--green);
}

/* End review */

/* Start order */
.order {
    padding: 50px;
    background-color: #eee;
    overflow: hidden;
}
.order .container {
    margin: 50px auto;
    width: 800px auto;
    background-color: white;
    box-shadow: var(--box-shadow);
}
.order .container form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    padding: 30px 0;
}
.order .container form .col-md {
    flex-basis: 45%;
}
.order .container form .col-md label {
    display: block;
    color: var(--green);
    margin-bottom: 5px;
    font-size: 16px;
}
.order .container form .col-md :is(input,textarea){
    background-color: #eee;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.order .container form .col-md :is(input,textarea):focus {
    outline:2px solid var(--green);
    border-radius: 0;
}
.order .container form a {
    margin-top: 5px;
    display: inline-block;
    width: fit-content;
    padding: 5px 15px;
    background-color: var(--black);
    color: white;
    border-radius: 20px 0 20px 0;
}
.order .container form a:hover {
    color: var(--green);
    letter-spacing: .5px;
}
/* End order */

/* Start footer */
footer {
    padding-top: 50px 0;
}
footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
footer .container .box {
    position: relative;
    flex-basis: 20%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer .container .box h3 {
    font-size: 25px;
}
footer .container .box a {
    color: #777;
    padding: 5px 0;
    position: relative;
}
footer .container .box a:hover {
    color: var(--green);
    letter-spacing: 2px;
}
footer .container .box a > i  {
    font-size: 16px;
    margin-right: 10px;
    position: absolute;
    top: 5px; left: -20px;
    color: var(--green);
    display: none;
}
footer .container .box a:hover > i {
    display: inline;
}
footer .copyright {
    background-color: #eee;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: var(--black);
    border-top: 1px solid rgba(0,0,0,.2);
}
footer .copyright span {
    color: var(--green);
}
/* End footer */

/* Start scroll top */
.up {
    position: fixed;
    bottom: 20px;
    right: 12px;
    background-color: var(--green);
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0%;
    z-index: 1100;
}
.up.show {
    opacity: 100%;

}
.up.show:hover {
    background-color: slategray;
    color: white;
}

/* End scroll top */








/* Start media Query */

@media(max-width:991px){

    header {
        padding: 5px 10px;
        font-size: 14px;
    }
    header .navbar a {
        padding: 5px;

    }
    header .icon i,
    header .icon a {
    margin-left: 2px;
    }
    #dishes {
        padding: 30px;
    }
    .about-us {
        padding: 25px;
    }
    .about-us .container .row .image {
        flex-basis: 100%;
    }
    .about-us .container .row .content {
        flex-basis: 100%;
    }
    .menu {
        padding: 25px;
    }
    .menu .container .box {
        flex-basis: 47%;
    }
    .container {
        padding: 20px;
    }
    .review .container .slide .user {
        flex-direction: column;
    }
}
@media(max-width:768px){

    header .icon  #menu-bars{
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 50px;
        width: 300px;
        height: 750px;
        left: -300px;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background: #fff;
        text-align: center;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 1100;
    }
    header .navbar.active{
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a {
        margin: 5px;
        padding: 15px 10px;
        background-color: aliceblue;
        font-size: 15px;
        font-weight: bold;

    }
    .home .home-slider .slide .content {
        text-align: center;
    }
    #dishes .container {
        padding: 15px;
    }
    #dishes .container .box {
        width: 100%;
    }
    .about-us {
        padding: 25px;
    }
    .about-us .container .row .image {
        flex-basis: 100%;
    }
    .about-us .container .row .content {
        flex-basis: 100%;
    }
    .about-us .container .row .content .icons-container .icons {
        flex-basis: 100%;
    }
    .container {
        padding: 20px;
    }
    .menu .container .box {
        flex-basis: 100%;
    }
    .order {
        padding: 20px;
    }
    .order .container {
        padding: 10px;
    }
    .order .container form .col-md {
        flex-basis: 90%;
    }
    footer .container .box {
        flex-basis: 40%;
    }
    footer .container .box a > i {
        display: inline-block;
        margin-right: 20px;
    }
}
/* End media Query */